.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 270px;
    left: 30px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 560px;
    left: 90px;
  }
  
  .baloon {
    position: absolute;
    z-index: 3;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    top: 120px;
    left: 30px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 200px;
    left: 300px;
  }